@charset "utf-8";
html{ font-size: 10px;font-family: "Microsoft YaHei",Arial;}
body{background-color: #eee;}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
/*gotop*/
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 100;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px; border-radius: 50%; display: block;background-color: #29b4bd;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url("../images/side-icon02.png");}
/* .cbbfixed .gotop:hover {background-color:#2c2d2e;} */
.cbbfixed .cweixin {background: #dadbdd;}
.cbbfixed .cweixin div {background: url("../images/erwei.png");width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url("../images/side-icon01.png");}

/* header
-------------------------------------------------------------------------------- */
.header{ background-color: white;}
.pd10 {padding: 0 10px;}
.pd15 {padding: 0 15px;}
.first-title { background-color: #29b4bd; padding-top: 6.25%;}
.first-title p{ font-size: 6rem; color: white; margin-bottom: 4.687%; font-weight: bold;}
.first-title .title-small,
.first-title h4{padding-left: 32.812%; margin-bottom: 3.125%;}
.first-title h4{font-size: 3.6rem; color: white; font-weight: normal;}
.title-h2{font-size: 3rem; color: #29b4bd; background-color: #fff; font-weight: normal; text-align: center; border-bottom: 1px solid #29b4bd; line-height: 6.2rem; margin-top: 3.125%;}

.circle-theme{padding-top: 6.875%;}
.circle3{ text-align: center;}
.circle3 a{ display: inline-block; height: 150px; width: 150px; border-radius: 75px; line-height: 5.2rem; padding-top: 23px; text-align: center; font-size: 3rem; background-color: #29b4bd; color: white; vertical-align: middle;}
.circle3 a:hover,
.circle3 a:focus,
.circle3 a:active{ background-color: #72ced4;}

.circle-theme1{ margin-bottom: 9.677%;}
.circle-theme2{ margin-bottom: 1.935%;}

.guide-btn { margin-top: 4.687%;}
.guide-btn a{ display: inline-block; float: right; width: 49%; background-color: #29b4bd; color: #fff; font-size: 3rem; text-align: center; padding: 42px 0;}
.guide-btn a:first-child{ float: left;}
.guide-btn a:hover,
.guide-btn a:focus,
.guide-btn a:active{ background-color: #72ced4;}

/* hunliren-home
-------------------------------------------------------------------------------- */
.personal-home-top{ background-color: white; padding-bottom: 1.57%;}
.personal-banner{ position: relative; height: 350px; width: 100%; background: url("../images/bg_02.jpg") no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);}
.bottom-bgwhite{ position: absolute; bottom: 0; left: 0; height: 34.285%; width: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1;}
.personal-touxiang{ position: absolute; left: 0; top: 24.285%; z-index: 2;}
.personal-touxiang{ text-align: center; width: 100%;}
.personal-touxiang .user-img{ display: inline-block; width: 186px;height: 186px; border: 10px solid #29b4bd; border-radius: 50%; overflow: hidden;}
.personal-touxiang .user-img img{ width: 100%; height: 100%;}
.personal-touxiang h2{ text-align: center; margin-top: 2.187%; font-weight: normal;}
.personal-touxiang h2 a{ font-size: 3.6rem; color: #333;}
.personal-touxiang h2 a:hover,
.personal-touxiang h2 a:focus,
.personal-touxiang h2 a:active{ color: #29b4bd;}
.heart-icon{ position: absolute; top: 4%; right: 3.125%; z-index: 3; border-radius: 50%; display: inline-block; width: 60px; height: 60px; text-align: center; background-color: #29b4bd; vertical-align: middle;}
.heart-icon i{ color: white; font-size: 4rem; margin-top: 23.33%;}
.heart-icon:hover,
.heart-icon:focus,
.heart-icon:active{ background-color: #72ced4;}
.personal-home-top h3{ text-align: center; font-size: 0; font-weight: normal; background-color: #29b4bd;}
.personal-home-top h3 span{ font-size: 2.4rem; line-height: 4.8rem; color: #333; padding:0 5.4%;}


.main-content{ padding-bottom: 6.66%; background-color: white;}
.title2{ font-size: 3rem; color: #29b4bd; font-weight: normal; line-height: 5.4rem; border-bottom: 1px solid #29b4bd; text-indent: 4rem; margin-bottom: 3%;}
.title2 a{color: #29b4bd;}
.main-content-personal p{ line-height: 4.4rem; font-size: 2.4rem; padding:0 6.66%; text-align: justify;}
.list-square{ color: #29b4bd; padding:0 6.66%; }
.list-square li{ list-style-type: square; list-style-position: inside; font-size: 2.4rem; line-height: 4.8rem;}
.list-square li span{ color: #333;}
.main-content-case .case-title { margin: 3.44% 0 6.896%;}
.main-content-case .case-title a{ font-size: 2.4rem; color: #666;}
.main-content-case .case-title a:hover,
.main-content-case .case-title a:focus,
.main-content-case .case-title a:active{ color: #29b4bd;}
.main-content-case .img-responsive{ width: 100%;}
.yuyue { text-align: center; margin-top: 9%;}
.yuyue button{ font-size: 3rem;}
.yuyue.btn-info { padding: 6px 8.33%;}
.btn{ font-size: 3rem;}
.btn-info {color: #fff;background-color: #29b4bd;border-color: #29b4bd;}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active{ color: #fff; background-color: #72ced4; border-color: #72ced4;}



/* hunli-taoxi
-------------------------------------------------------------------------------- */
.taoxi-top{ padding-bottom: 1.6%; background-color: white;}
.zhuti-shoucang{ background-color: #29b4bd; color: white; line-height: 8rem; position: relative;}
.zhuti-shoucang span{font-size: 3rem; vertical-align: middle; padding-left: 2.34%;}
.zhuti-shoucang span,
.zhuti-shoucang a{ color: white;}
.zhuti-shoucang a{position: absolute; right: 7%;}
.zhuti-shoucang a i{font-size: 3.6rem; vertical-align: middle;}

.through-module{ padding: 0;}
.through-module > .row{ margin: 0;}
.through-module > .row > .col-xs-12{ padding: 0;}
.through-module .title2{ text-indent: 6rem;}
.through-module .title5{ margin-bottom: 1.6%;}
.title5{ font-size: 1.8rem; text-indent: 8rem; color: #29b4bd;}
.list-circle{ color: #d6d6d6; padding:0 5%;}
.list-circle li { list-style-type: initial; list-style-position: inside; font-size: 3.4rem; line-height: 4.8rem;}
.list-circle li span{ color: #333; font-size: 2.4rem;}
.through-module .list-circle{ margin-bottom: 1.6%;}
.text-all{ line-height: 4.4rem; font-size: 2.4rem; padding:0 9.375%; text-align: justify;}
.user-comments-img{ width: 100%; max-width: 80px; border-radius: 50%;}
.user-comments{ background-color: #eeeeee; color: #666; font-size: 2rem; line-height: 3rem; min-height: 100px; padding: 3%;}
.user-comments-box{ margin-bottom: 3.4%;}
.main-content-taoxi .add-gouwu{ text-align: center; margin-top: 7.81%;}
.hunliren-face { text-align: center;}
.hunliren-face img{ width: 100%; max-width: 100px;border-radius: 50%;}
.hunliren-graph {margin-top: 3%;}
.hunliren-graph img{ width: 100%; max-width: 100%;}
.title2-right span{ margin-left: 20%; display: inline-block;}
.hunliren-face h2{ font-size: 2.4rem; margin: 8.4% 0 12%;}
.hunliren-face h5{ font-size: 1.8rem; margin-bottom: 12%;}
.hunliren-face h2 a,
.hunliren-face h5 a{ color: #666;}
.hunliren-face .renzheng-btn a{ font-size: 1.8rem; border: 1px solid #29b4bd; color: #29b4bd; border-radius: 12px; padding: 2.8%; display: inline-block;}


.gouwuche-fixed{ width: 88px; height: 88px; display: inline-block; position: fixed; right: 10px; bottom: 60px; background: url("../images/gouwuche.png") no-repeat scroll center center / 50% 50% rgba(114, 206, 212, 0.3); border-radius: 50%; z-index: 1000;}

.gouwuche-fixed:hover,
.gouwuche-fixed:focus,
.gouwuche-fixed:active{background-color: rgba(114, 206, 212, 1);}


/* taoxi-liulan
-------------------------------------------------------------------------------- */
.bg-e{ background-color: #eee;}

.tab-module > .nav-tabs {border-bottom:1px solid #fff; background-color: white;}
.tab-module > .nav-tabs > li{ width: 50%; text-align: center;}
.tab-module > .nav-tabs > li > a{ color: #666; font-size: 3rem; border-color: #fff #fff #fff; padding: 10px;}
.tab-module > .nav-tabs > li > a:hover{ background-color: white;}

.tab-module > .nav-tabs > li > a:focus,
.tab-module > .nav-tabs > .active > a{ background-color: white; border-color: #fff #fff #29b4bd;}

.tab-module > .nav-tabs > .active > a{ color: #29b4bd;}

.tab-module > .nav-tabs > .active > a:hover,
.tab-module > .nav-tabs > .active > a:focus{ color: #29b4bd; border-color: #fff #fff #29b4bd;}

.nav-small { background-color: white;}
.nav-small > li{ display: inline-block; width: 33%; text-align: center; padding: 10px 0;}
.nav-small > li > a{ font-size: 2.8rem; color: #666;  display: inline-block; line-height: 5rem; width: 100%; border-left: 1px solid #ededed;}
.nav-small > li:first-child > a{ border-left: none;}
.nav-small > .active-li > a { color: #29b4bd;}
.tab-box{position: relative; width: 100%;}
.div-content{ display: none; line-height: 0; background-color: rgba(255, 255, 255, 0.8); position: absolute; left: 0; top: 0; z-index: 10; width: 100%;}
.main-content-pd0{ padding: 0;}
/* taoxi-liulan
-------------------------------------------------------------------------------- */
.paixu-down ul > li{border-bottom: 1px solid #d8d4d7; padding-left: 10%;}
.paixu-down ul > li > a{ display: inline-block; line-height: 9rem; font-size: 2.4rem; color: #666; width: 100%;}
.paixu-down ul > li > a:hover,
.paixu-down ul > li > a:focus{ color: #29b4bd;}
.style-down{ font-size: 0; padding: 0 6.25% 4%;}
.style-down > a{ color: #f19149; font-size: 2.4rem; line-height: 4.8rem; padding: 0 4.47%; margin: 3.5%; border: 1px solid #f19149; border-radius: 8px; display: inline-block; white-space: nowrap;}

.average-6{ width: 50%; padding: 0 5px; float: left;}
.average-box{ position: relative; background-color: white; padding: 3.125% 0 3.125%; margin-bottom: 3.125%;}
.img-txt-average{ margin-top: 1.6%;}
.img-txt-average h2{ text-align: center; margin-bottom: 2.66%;}
.img-txt-average h2 a{ font-size: 3rem; line-height: 5.4rem; color: #333;}
.price-pingtai{ color: #e60012; font-size: 2.4rem; text-align: center;}
.price-pingtai span{ display: inline-block; border: 1px solid #e60012; border-radius: 8px; padding: 2px 4px;}
.address-collection { font-size: 1.8rem; padding:10% 56px 0 13.33%;}
.address-collection > span{ color: #999;}
.address-collection > span > i{ margin-right: 6%; color: #c9c9c9; font-size: 2.4rem;}
.address-collection > a{ display: inline-block; width: 56px; height: 56px; background-color: #29b4bd; text-align: center; line-height: 56px; position: absolute; bottom: 0; right: 0;}
.address-collection > a >i{font-size: 3.4rem; color: white; vertical-align: middle;}
.add-more{ text-align: center; font-size: 2.8rem; color: #999;margin: 6% 0;}

/* hunliren-liulan
-------------------------------------------------------------------------------- */
.div-content-active{ display: block;}
.average-box2{ position: relative; background-color: white; padding: 1.5625% 0 1.5625%; margin-bottom: 3.125%;}
.average-40,
.average-60{ padding: 0 5px; float: left;}

.average-40{ width: 40%;}
.average-40 > a{ width: 100%; display: inline-block; position: relative;}
.average-60{ width: 60%;}
.renzheng-pingtai{color: #29b4bd; font-size: 2.4rem; text-align: center; margin-bottom: 7.73%;}
.renzheng-pingtai span{display: inline-block; border: 1px solid #29b4bd; border-radius: 8px; padding: 2px 4px;}
.price{ font-size: 2.8rem; text-align: center;}
.price span{ color: #e60012;}
.average-box2 .address-collection { font-size: 1.8rem; padding:12.5% 56px 0 13.33%;}

.average-box3{ position: relative; background-color: white; padding: 3.125% 0 3.125%; margin-bottom: 3.125%;}
.average-28,
.average-68{ padding: 0 5px;}

.average-28{ width: 28%; float: left;}
.average-68{ width: 68%; float: right; text-align: left;}
.average-68 h2 {border-bottom: 1px solid #29b4bd; font-weight: normal;}
.average-68 h2 a{font-size: 2.8rem; line-height: 4.4rem;}
.average-68 h2 span{ color: #29b4bd; font-size: 1.8rem; display: inline-block; border: 1px solid #29b4bd; border-radius: 8px; padding: 2px 4px; margin-left: 9%;}
.average-68 h2,
.average-68 p{ text-align: left;}
.average-28 > a,
.average-28 > a > img{ width: 100%; display: inline-block; border-radius: 50%;}

.service-scope { font-size: 1.4rem; padding:6% 56px 0 0;}
.service-scope > span{ color: #999;}
.service-scope > span > i{ margin-right: 6%; color: #c9c9c9; font-size: 2.4rem;}
.service-scope > a{ display: inline-block; width: 56px; height: 56px; background-color: #29b4bd; text-align: center; line-height: 56px; position: absolute; bottom: 0; right: 0;}
.service-scope > a >i{font-size: 3.4rem; color: white; vertical-align: middle;}
.jingyan{ font-size: 2rem; color: #999; margin-bottom: 5%;}
.average-68 .price{ font-size: 2.4rem;}
.mini-mark{ position: absolute; top: 0; left: 0; font-size: 2rem; color: white; background-color: #29b4bd; padding: 2.8% 3%;}
.average-60 .renzheng-mark14{ margin-bottom: 10.6%;}
.average-60 .renzheng-mark14 span{ font-size: 1.4rem; display: inline-block; border: 1px solid #333; border-radius: 0; padding: 2px 4px; text-align: center;}

.average-box-mark .average-60{ float: right; width: 54%;}
.average-box-mark h2,
.average-box-mark p{ text-align: left;}
.all-num{ margin-bottom: 6%;}
.all-num > a{ font-size: 2.4rem; color: #333;}
.all-num > a span{ margin-right: 11%;}
.all-num > a em,
.all-num > a i{ font-size: 3rem; color: #29b4bd; padding: 0 4px;}
.average-box-mark .average-60 .address-collection{ padding-left: 0; padding-top: 4%;}
.average-60 h5{ text-align: center; font-size: 1.8rem; color: #999; font-weight: normal; margin-bottom: 7%;}
.xianjia{ text-align: center; margin-bottom: 4.4%;}
.xianjia span{ font-size: 2.8rem; line-height: 3.8rem; color: white; display: inline-block;background-color: #f3aecc; padding: 0 5.6%;}
.yuanjia{ text-align: center; font-size: 1.8rem; color: #999; text-decoration: line-through;}
.average-box-mark,
.average-box-red{ padding: 3.125% 0;}
.average-box-red .address-collection{ padding-top: 30px; text-align: center;}


/* jiudian-hunyan
-------------------------------------------------------------------------------- */
.max-module{ margin: 1.57% 0 20%;}
.max-block{ position: relative;margin-bottom: 4.8%;}
.mark-price{ padding: 0 3.75%; background-color: #f19ec2; color: white; display: inline-block; font-size: 3rem; line-height: 5rem; position: absolute; right: 0; bottom:0; z-index: 2;}
.mark-price > i{ margin-right: 6px;}
.mark-content{ padding: 0.9%; background-color: rgba(0, 0, 0, 0.7); color: white; display: inline-block; font-size: 1.8rem; position: absolute; left: 0; top:0;}
.mark-content .fa-clock-o{ margin-right: 8px;}
.mark-block{ width: 100%; background-color: rgba(255, 255, 255, 0.9); position: absolute; left: 0; bottom: 2.4%;}
.mark-block > h2{ font-weight: normal; font-size: 3rem; line-height: 5rem; background-color: #29b4bd; margin: 2.125% 0 3.9%; position: relative;}
.mark-block > h2,
.mark-block > h2 .shoucang{color: white;}
.mark-block > h2 > a{color: white;}
.mark-block > h2 .shoucang{ position: absolute; right: 1.5%; top: 0; padding-left: 20px; font-size: 3.3rem;}
.mark-block > h2,
.mark-block > p{padding-left: 7%;}
.mark-block > p{font-size: 2.4rem; margin-bottom: 1%;}
.mark-block > p .last-txt{margin-left: 6.8%;}
.btn-p{ line-height: 6rem;}
.mark-block .max-block-address{ font-size: 2rem; color: #999; margin-bottom: 2.8%;}
.pink-btn{ background-color: #f3acca; color: white; display: inline-block; font-size: 3.6rem; line-height: 6rem; padding: 0 4.6%; border-radius: 6px; vertical-align: middle; float: right; margin: 0 1.5% 0 0;}
.screening-module{ background-color: #eee; padding: 4.6% 8% 3.125%;}
.screening-module dl{margin-bottom: 1.48%;}
.screening-module dt{ font-size: 2.4rem; color: #999; line-height:3rem; margin: 0 1.9% 3.8%;}
.screening-module dd{ background-color: #eee; font-size: 0;}
.screening-module dd a{ color: #999; line-height: 4.8rem; border-radius: 8px; padding: 0 7.4%;font-size: 2rem; border: 1px solid #999; display: inline-block; white-space: nowrap; margin: 0 1.9% 4.6%;}
.screening-module dd .active-a{ color: #29b4bd; border-color: #29b4bd;}
.button-p{ text-align: right;}
.button-p .blue-btn{ font-size: 2.4rem; line-height: 4.4rem; display: inline-block; padding: 0 5%; color: white; background-color: #29b4bd; border-radius: 8px;}
.level{ font-size: 0;}
.level > i{ font-size: 1.3rem; margin-left: 10px;}
.btn-small{ line-height: 6rem;}
.btn-small > span{ padding: 0 8px;}
.btn-small > small{color: #999;}


/* tishi
-------------------------------------------------------------------------------- */
.pd50{ padding: 0 7.8%;}
.yuyue-s{ text-align: center; font-size: 4rem; color: #29b4bd; font-weight: bold; margin: 26% 0 9.2%;}
.modal-module{ background-color: white; border-radius: 8px; box-shadow: 0 3px 5px rgba(102, 102, 102, 0.35)；}
.modal-h{ border-bottom: 1px solid #29b4bd;}
.people-p{ text-align: center; padding: 7.5% 0 4.4%;}
.people-img{ width: 27.77%; max-width: 150px; border-radius: 50%;}
.people-name{ font-size: 2.4rem; color: #666; text-align: center; padding-bottom: 7.5%;}
.link-center{ text-align: center; margin-top: 2.8%; padding: 6.4%;}
.link-center > a{ font-size: 2.2rem; font-weight: bold; color: #29b4bd;}


/* yuyue-xiangqing
-------------------------------------------------------------------------------- */
.pd25{ padding: 0 25px;}
.module-cell{ margin-bottom: 3.125%; background-color: white;}
.img-link150{ display: inline-block; width: 81%; max-width: 150px;}
.img-link150 > img{width: 100%; max-width: 150px;}
.label-blue{ font-weight: bold; font-size: 2.2rem; color:#29b4bd; border: 1px solid #29b4bd; display: inline-block; line-height: 3.2rem; border-radius: 1rem; padding: 0 14px;}
.h36b{ font-size: 3.6rem; font-weight: bold;}
.h36b > a{color: #333; line-height: 8rem;}
.xiangqing-top{padding:4.4% 0 3.4%;}
.list-cell .title-cell{ font-size: 2.4rem; color: #29b4bd; border-bottom: 1px solid  #29b4bd; font-weight: bold; line-height: 6rem; margin: 4.1% 0 2.4%;}
.list-cell .content-cell{ color: #999; padding-bottom: 3.44%;}
.list-cell .content-cell p{ line-height: 4.4rem; font-size: 2.4rem;}
.fixed-b{ padding-bottom: 18.7%;}
.fixed-bottom{ position: fixed; bottom: 0; left: 0; width: 100%; z-index: 50;}
.fixed-bottom .button-block{font-size: 3rem; color: #959595; display: inline-block; line-height: 10rem; text-align: center; background-color: white; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2)}
.button-block{font-size: 3rem; color: #959595; width: 100%; display: inline-block; line-height: 10rem; text-align: center; background-color: white;}
.button-block:hover{ color: #999;}


/* wode-hunli
-------------------------------------------------------------------------------- */
.img-6{ width:49.2%; background-color: white;float: left;}
.img-6:first-child{margin-right: 1.6%;}

.tab-module2 > .nav-tabs{ margin-bottom: 1.5625%;}
.tab-module2 > .nav-tabs {border-bottom:none; background-color: #eee;}
.tab-module2 > .nav-tabs > li{ width: 49.2%; margin: 0; float: right;}
.tab-module2 > .nav-tabs > li:first-child{ float: left;}
.tab-module2 > .nav-tabs > li > a{ text-align: center; color: #29b4bd; font-size: 3rem; border:none; padding: 10px; margin: 0; line-height: 6rem;}
.tab-module2 > .nav-tabs > li > a:hover{ background-color: white; border: none; background-color: #eee;}

.tab-module2 > .nav-tabs > li > a:focus,
.tab-module2 > .nav-tabs > .active > a{ background-color: white;}

.tab-module2 > .nav-tabs > .active > a{ color: #29b4bd;}

.tab-module2 > .nav-tabs > .active > a:hover,
.tab-module2 > .nav-tabs > .active > a:focus{ color: #29b4bd; background-color: #fff; border: none;}

.box-img-link{ position: relative; width: 100%; text-align: center;}
.box-img-txt > a{ display: inline-block; width: 100%;}
.box-img-txt > a.img-circle{ display: inline-block;width: 50.79%; margin: 8.25% 0 7.64%; }
.box-img-txt img{ width: 100%;}
.box-img-txt .img-circle{ display: inline-block;}
.box-img-link > a{ width: 100%; position: absolute; left: 0; bottom: 0; background-color: rgba(51, 51, 51, 0.7); color: white; font-size: 2.4rem; line-height: 6rem; text-align: center; display: inline-block;}
.box-img-txt > p{ font-size: 2.2rem; line-height: 4rem;}
/* yuyue
-------------------------------------------------------------------------------- */
.top-center{ text-align: center; padding: 7% 0 3.125%; border-bottom: 1px solid #29b4bd;}
.top-center .img-circle{width: 17%;}
.top-center .biaoyu{font-size: 2.4rem; margin-top: 7%;}
.form-module{ padding: 7% 11% 4%; border-bottom: 1px solid #29b4bd;}
.form-module .form-text{ border-radius: 0; line-height: 4.4rem; height: 88px; padding: 0 12px;font-size: 2.2rem; color: #999; border: 1px solid #29b4bd; outline: none;-webkit-appearance: none; box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset; width: 100%; margin-bottom: 9%;}
.form-module .btn-primary {font-size: 3rem; line-height: 5.5rem; margin-bottom: 4.8%;}
.btn-primary {color: #fff;background-color: #29b4bd;border-color: #29b4bd;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active{ color: #fff; background-color: #72ced4; border-color: #72ced4;}
.form-module .biaoyu{ font-size: 2.2rem; text-align: center; color: #999;}
.module-bottom{ text-align: center;}
.module-bottom{ padding-top: 3.125%;}
.module-bottom .biaoyu{ font-size: 2.2rem; text-align: center; color: #999;}{}
.module-bottom .tel{ font-size: 4rem; color: #72ced4; line-height: 8rem;}

/* hunsha-sheying-shangjia-xiangqing
-------------------------------------------------------------------------------- */
.tab-grey > .nav-tabs { margin-bottom: 0; padding-bottom: 4.6875%; background-color: white;}
.tab-grey > .nav-tabs > li > a{ font-size: 2.8rem; color: #333; background-color: #e5e5e5; border-radius: 0;}
.tab-grey > .nav-tabs > li > a:hover{ background-color: #e5e5e5;}
.tab-grey > .nav-tabs > li > a > em{color: #999; font-style: normal;}
.tab-grey > .nav-tabs > .active > a{ color: #333;}

.tab-grey > .nav-tabs > .active > a:hover,
.tab-grey > .nav-tabs > .active > a:focus{ color: #333;}

.case-block{ position: relative; margin-bottom: 5.625%;}
.case-text{ position: absolute; bottom: 0; left: 0; width: 100%; font-size: 1.8rem; color: white; background-color: rgba(241, 158, 194, 0.9); line-height: 3rem;}
.case-text2{ position: absolute; bottom: 0; left: 0; width: 100%; font-size: 1.8rem; color: white; background-color: rgba(41, 180, 189, 0.9); line-height: 3rem;}
.case-text a{ color: white;}
.case-text a span{padding-left: 30px;}
.case-title{ position: relative;line-height: 3.6rem; padding: 2.1875% 3.125% 0;}
.case-title > a{ font-size: 3rem;}
.case-title > span{ position: absolute; right: 0; bottom: 0; display: inline-block; border-bottom: 1px solid #fff;}
.case-title > span > em{ font-size: 3.6rem;  font-style: normal;}
.case-title > span > small{font-style: normal; text-decoration: line-through; padding-right: 5px; padding-left: 10px;}
.case-text > .case-p{ padding: 0 3.125%; line-height: 4.2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.case-text2 > a{ font-size: 2.8rem;}
.case-text2 > .case-p{ line-height: 3.6rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.case-text2 > .case-title{ padding-top: 1.5625%; line-height: 2.8rem;}
.case-block > .mark{position: absolute; left: 0; top: 0; font-size: 2.2rem; line-height: 4rem; color: white;  background-color: #f19ec2; padding: 0 3%;}
.case-block > .mark .fa-gift{ margin-left: 10px;}


.module-block-content{ background-color: white; margin-bottom: 3.125%; }
.module-block-content h5{ font-weight: normal; font-size: 2rem; color: #666; border-bottom: 1px solid #999; line-height: 3rem; padding: 1.31% 1.63% 0; margin-bottom: 2.62%;}
.module-block-content p{ font-size: 1.8rem; color: #666; line-height: 3rem;}
.module-block-content .text{padding-bottom: 4.9%;}
.module-block-top{ padding: 4.6875%; position: relative;}
.block-top-left{ width: 34.48%; float: left;}
.block-top-left > a >img{ width:100%;}
.block-top-right{ width: 56.9%; float: right;}
.block-top-right > h2 { font-weight: normal; margin-bottom: 5.45%; font-size: 3.6rem;  color: #333;}
.block-top-right > h2 > a{ font-size: 3.6rem; color: #333;}
.block-top-right > .label-blue{ font-size: 2rem; border-radius: 0; font-weight: normal; margin-left: 12.12%; margin-bottom: 5.45%;}
.block-top-right > .p-num{ font-size: 2.4rem;color: #666; margin-bottom: 5.45%;}
.block-top-right > .p-num > em,
.block-top-right > .p-num > span > em{ font-style: normal; color: #f19ec2;}
.block-top-right > .p-num > span{padding-right: 10.9%;}
.block-top-right > .p-num2 > span{display: inline-block; line-height: 4rem; padding: 0 15.15%; font-size: 3rem; color: white; background-color: #29b4bd;}
.block-top-mark{ position: absolute; left: 0; top: 0; margin-top: 12px; color: white; background-color: #f19ec2; display: inline-block; padding: 0 2.5%; line-height: 3rem; font-size: 1.8rem;}
 
.module-block-inner .case-block{ margin-bottom: 0;}
.module-block-inner .case-block .case-title{ padding: 0 6.25%;}
.module-block-inner .module-block-txt{ padding: 2.343% 6.25%;}
.module-block-txt{ position: relative; padding: 0 6.25% 2.343%; color: white;}
.module-block-txt > h2{ font-size: 3rem; border-bottom: 1px solid #666; width: 52%; line-height: 5.4rem;}
.module-block-txt > h2 a{color: #333;}
.module-block-txt > small{ font-size: 1.8rem; width: 52%; color: #f3acca; line-height: 3.4rem; width: 52%; }
.module-block-txt .pink-btn{ margin-top: 4.375%; padding: 0 6.25%;font-size: 3rem; position: absolute; top: 0; right: 6.25%;}
.module-block-txt .pink-btn:hover,
.module-block-txt .pink-btn:focus{ color: white; text-decoration: none;}
.module-block-content .case-title-po{ position: relative; font-size: 3.6rem; line-height: 8rem;color: white;}
.module-block-content .case-title-po .shoucang{ position: absolute; right: 0; top: 0; font-size: 3.3rem; }
.module-block-content .case-title-po > span{font-size: 2rem; text-decoration: line-through;position: absolute; right: 12%; top0；}
.shangjia-img{ width: 21.4%;}
.po-box{position: relative; color: #666;}
.po-box h4{font-size: 2.4rem;}
.po-box .po-txt{ width: 74%; position: absolute; right: 0; top: 0;}
.po-box .po-txt > p{ line-height: 4.8rem; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.details{ font-size: 2.2rem; color: #999; text-align: right;width: 74%; position: absolute; bottom: 0; right: 0;}
.details .fa-caret-right{ font-size: 2.4rem; margin-left: 5px; vertical-align: middle;}
.details > a{ color: #999;}
.module-block-txt .table-bordered tr td{text-align: center;}
.module-block-txt .table-bordered tr td p{font-size: 1.8rem;}
.module-block-txt .table-bordered tr td p.title{font-size: 2.2rem;}
.module-block-txt .table-bordered tr td p.p-l{text-align: left;}


@media screen and (max-width : 570px) {
	html{ font-size: 8px;}
	.circle3 a{padding-top: 30px; height: 144px; width: 144px; border-radius: 72px; text-align: center; }
	.guide-btn a{padding: 37px 0;}
	.personal-banner{ height: 311px;}
	.personal-touxiang .user-img{ width: 165px;height: 165px; border: 8px solid #29b4bd;}
	.heart-icon{ width: 53px; height: 53px;}
	.gouwuche-fixed{ width: 70px; height: 70px;}
	.address-collection { padding:15% 49px 0 13.33%;}
	.average-box2 .address-collection { padding:18.75% 49px 0 0;}
	.address-collection > a{  width: 49px; height: 49px; line-height: 49px;}
	.average-box-mark .average-60 .address-collection{ padding-top: 10%;}
	.average-box-red .address-collection{ padding-top: 14%;}
	.service-scope { padding:5% 49px 0 13.33%;}
	.service-scope > a{  width: 49px; height: 49px; line-height: 49px;}
	.pd25{ padding: 0 10px;}
	.form-module .form-text{ height: 78px;}
}

@media screen and (max-width : 480px) {
	html{ font-size: 7.5px;}
	.pd10 {padding: 0;}
	.pd15 {padding: 5px;}
	.circle3 a{ padding-top: 17px; height: 112px; width: 112px; border-radius: 56px;}
	.guide-btn a{padding: 30px 0;}
	.personal-banner{ height: 262px;}
	.personal-touxiang .user-img{ width: 139px;height: 139px; border: 7px solid #29b4bd;}
	.heart-icon{ width: 45px; height: 45px;}
	.user-comments{ min-height: 60px;}
	.gouwuche-fixed{ width: 44px; height: 44px;}
	.nav-small > li{ padding: 5px 0;}
	.style-down > a{ margin: 3.2%;}
	.address-collection { padding-right: 42px;}
	.address-collection > a{  width: 42px; height: 42px; line-height: 42px;}
	.average-box2 .address-collection { padding:14.3% 49px 0 13.33%;}
	.average-box-mark .average-60 .address-collection{ padding-top: 6%;}
	.average-box-red .address-collection{ padding-top: 10%;}
	.mark-content .fa-clock-o{ margin-right: 4px;}

	.service-scope { padding-right: 42px; padding-top: 7%;}
	.service-scope > a{  width: 42px; height: 42px; line-height: 42px;}
	.screening-module dd a{ border-radius: 6px;}
	.button-p .blue-btn{ border-radius: 4px;}
	.level > i{ font-size: 1.3rem; margin-left: 5px;}
	.label-blue{ padding: 0 6px;}
	.form-module .form-text{ height: 66px;}
	.case-block > .mark .fa-gift{ margin-left: 5px;}
	.module-block-top{ padding:4.6875% 15px;}
	.case-text a span{padding-left: 15px;}
}

@media screen and (max-width : 360px) {
	html{ font-size: 5.6px;}
	.circle3 a{ padding-top: 16px; height: 84px; width: 84px; border-radius: 42px;}
	.guide-btn a{padding: 21px 0;}
	.personal-banner{ height: 196px;}
	.personal-touxiang .user-img{ width: 104px;height: 104px; border: 5px solid #29b4bd;}
	.heart-icon{ width: 33px; height: 33px;}
	.address-collection { padding:15% 31px 0 13.33%;}
	.address-collection > a{  width: 31px; height: 31px; line-height: 31px;}
	.average-box2 .address-collection { padding:17% 30px 0 13.33%;}

	.service-scope { padding:8% 31px 0 0;}
	.service-scope > a{  width: 31px; height: 31px; line-height: 31px;}
	.average-box-mark .average-60 .address-collection{ padding-top: 10%;}
	.average-box-red .address-collection{ padding-top: 14px;}
	.average-60 .renzheng-mark14{ margin-bottom: 8%;}
	.form-module .form-text{ height: 49px;}
	.module-block-top{ padding:4.6875% 10px;}
}


@media screen and (max-width : 320px) {
	html{ font-size: 5px;}
	.personal-banner{ height: 175px;}
	.personal-touxiang .user-img{ width: 93px;height: 93px; border: 5px solid #29b4bd;}
	.heart-icon{ width: 30px; height: 30px;}
	.address-collection { padding:8% 28px 0 13.33%;}
	.address-collection > a{  width: 28px; height: 28px; line-height: 28px;}
	.average-box2 .address-collection { padding:14% 30px 0 13.33%;}

	.service-scope { padding:5% 28px 0 13.33%;}
	.service-scope > a{  width: 28px; height: 28px; line-height: 28px;}
	.average-box-mark .average-60 .address-collection{ padding-top: 6%;}
	.average-box-red .address-collection{ padding-top: 16px;}
	.form-module .form-text{ height: 44px;}
	
}
