@charset "utf-8";
html{ font-size: 10px;font-family: "Microsoft YaHei",Arial;}

/* header
-------------------------------------------------------------------------------- */
.pd10 {padding: 0 10px;}
.pd15 {padding: 0 15px;}
.first-title { background-color: #72ced4; padding-top: 6.25%;}
.first-title p{ font-size: 6rem; color: white; margin-bottom: 4.687%; font-weight: bold;}
.first-title .title-small,
.first-title h4{padding-left: 32.812%; margin-bottom: 3.125%;}
.first-title h4{font-size: 3.6rem; color: white; font-weight: normal;}
.title-h2{font-size: 3rem; color: #72ced4; background-color: #fff; font-weight: normal; text-align: center; border-bottom: 1px solid #72ced4; line-height: 6.2rem; margin-top: 3.125%;}

.circle-theme{padding-top: 6.875%;}
.circle3{ text-align: center;}
.circle3 a{ display: inline-block; height: 150px; width: 150px; border-radius: 75px; line-height: 5.2rem; padding-top: 23px; text-align: center; font-size: 3rem; background-color: #72ced4; color: white; vertical-align: middle;}
.circle3 a:hover,
.circle3 a:focus,
.circle3 a:active{ background-color: #3bc7d0;}

.circle-theme1{ margin-bottom: 9.677%;}
.circle-theme2{ margin-bottom: 1.935%;}

.guide-btn { margin-top: 4.687%;}
.guide-btn a{ display: inline-block; float: right; width: 49%; background-color: #72ced4; color: #fff; font-size: 3rem; text-align: center; padding: 42px 0;}
.guide-btn a:first-child{ float: left;}
.guide-btn a:hover,
.guide-btn a:focus,
.guide-btn a:active{ background-color: #3bc7d0;}

/* hunliren-home
-------------------------------------------------------------------------------- */
.personal-banner{ position: relative; height: 350px; width: 100%; background: url("../images/bg_02.jpg") no-repeat scroll center top / 100% auto rgba(0, 0, 0, 0);}
.bottom-bgwhite{ position: absolute; bottom: 0; left: 0; height: 34.285%; width: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1;}
.personal-touxiang{ position: absolute; left: 0; top: 24.285%; z-index: 2;}
.personal-touxiang{ text-align: center; width: 100%;}
.personal-touxiang .user-img{ display: inline-block; width: 186px;height: 186px; border: 10px solid #72ced4; border-radius: 50%; overflow: hidden;}
.personal-touxiang .user-img img{ width: 100%; height: 100%;}
.personal-touxiang h2{ text-align: center; margin-top: 2.187%; font-weight: normal;}
.personal-touxiang h2 a{ font-size: 3.6rem; color: #333;}
.personal-touxiang h2 a:hover,
.personal-touxiang h2 a:focus,
.personal-touxiang h2 a:active{ color: #72ced4;}
.heart-icon{ position: absolute; top: 4%; right: 3.125%; z-index: 3; border-radius: 50%; display: inline-block; width: 60px; height: 60px; text-align: center; background-color: #72ced4; vertical-align: middle;}
.heart-icon i{ color: white; font-size: 4rem; margin-top: 23.33%;}
.heart-icon:hover,
.heart-icon:focus,
.heart-icon:active{ background-color: #3bc7d0;}
.personal-home-top h3{ text-align: center; font-size: 0; font-weight: normal; background-color: #72ced4; margin-bottom: 1.57%;}
.personal-home-top h3 span{ font-size: 2.4rem; line-height: 4.8rem; color: #333; padding:0 5.4%;}


.main-content{ margin-bottom: 6.66%;}
.title2{ font-size: 3rem; color: #72ced4; font-weight: normal; line-height: 5.4rem; border-bottom: 1px solid #72ced4; text-indent: 4rem; margin-bottom: 3%;}
.title2 a{color: #72ced4;}
.main-content-personal p{ line-height: 4.4rem; font-size: 2.4rem; padding:0 6.66%; text-align: justify;}
.list-square{ color: #72ced4; padding:0 6.66%; }
.list-square li{ list-style-type: square; list-style-position: inside; font-size: 2.4rem; line-height: 4.8rem;}
.list-square li span{ color: #333;}
.main-content-case .case-title { margin: 3.44% 0 6.896%;}
.main-content-case .case-title a{ font-size: 2.4rem; color: #666;}
.main-content-case .case-title a:hover,
.main-content-case .case-title a:focus,
.main-content-case .case-title a:active{ color: #72ced4;}
.main-content-case .img-responsive{ width: 100%;}
.yuyue { text-align: center; margin-top: 9%;}
.yuyue button{ font-size: 3rem;}
.yuyue.btn-info { padding: 6px 8.33%;}
.btn{ font-size: 3rem;}
.btn-info {color: #fff;background-color: #72ced4;border-color: #72ced4;}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active{ color: #fff; background-color: #3bc7d0; border-color: #3bc7d0;}



/* hunli-taoxi
-------------------------------------------------------------------------------- */
.zhuti-shoucang{ background-color: #72ced4; color: white; line-height: 8rem; position: relative; margin-bottom: 1.6%;}
.zhuti-shoucang span{font-size: 3rem; vertical-align: middle; padding-left: 2.34%;}
.zhuti-shoucang span,
.zhuti-shoucang a{ color: white;}
.zhuti-shoucang a{position: absolute; right: 7%;}
.zhuti-shoucang a i{font-size: 3.6rem; vertical-align: middle;}

.through-module{ padding: 0;}
.through-module > .row{ margin: 0;}
.through-module > .row > .col-xs-12{ padding: 0;}
.through-module .title2{ text-indent: 6rem;}
.through-module .title5{ margin-bottom: 1.6%;}
.title5{ font-size: 1.8rem; text-indent: 8rem; color: #72ced4;}
.list-circle{ color: #d6d6d6; padding:0 5%;}
.list-circle li { list-style-type: initial; list-style-position: inside; font-size: 3.4rem; line-height: 4.8rem;}
.list-circle li span{ color: #333; font-size: 2.4rem;}
.through-module .list-circle{ margin-bottom: 1.6%;}
.text-all{ line-height: 4.4rem; font-size: 2.4rem; padding:0 9.375%; text-align: justify;}
.user-comments-img{ width: 100%; max-width: 80px; border-radius: 50%;}
.user-comments{ background-color: #eeeeee; color: #666; font-size: 2rem; line-height: 3rem; min-height: 100px; padding: 3%;}
.user-comments-box{ margin-bottom: 3.4%;}
.main-content-taoxi .add-gouwu{ text-align: center; margin-top: 7.81%;}
.hunliren-face { text-align: center;}
.hunliren-face img{ width: 100%; max-width: 100px;border-radius: 50%;}
.hunliren-graph {margin-top: 3%;}
.hunliren-graph img{ width: 100%; max-width: 100%;}
.title2-right span{ margin-left: 20%; display: inline-block;}
.hunliren-face h2{ font-size: 2.4rem; margin: 8.4% 0 12%;}
.hunliren-face h5{ font-size: 1.8rem; margin-bottom: 12%;}
.hunliren-face h2 a,
.hunliren-face h5 a{ color: #666;}
.hunliren-face .renzheng-btn a{ font-size: 1.8rem; border: 1px solid #72ced4; color: #72ced4; border-radius: 12px; padding: 2.8%; display: inline-block;}


.gouwuche-fixed{ width: 88px; height: 88px; display: inline-block; position: fixed; right: 10px; bottom: 30px; background: url("../images/gouwuche.png") no-repeat scroll center center / 50% 50% rgba(114, 206, 212, 0.3); border-radius: 50%; z-index: 1000;}

.gouwuche-fixed:hover,
.gouwuche-fixed:focus,
.gouwuche-fixed:active{background-color: rgba(114, 206, 212, 1);}





@media screen and (max-width : 570px) {
	html{ font-size: 8px;}
	.circle3 a{padding-top: 30px; height: 144px; width: 144px; border-radius: 72px; text-align: center; }
	.guide-btn a{padding: 37px 0;}
	.personal-banner{ height: 311px;}
	.personal-touxiang .user-img{ width: 165px;height: 165px; border: 8px solid #72ced4;}
	.heart-icon{ width: 53px; height: 53px;}
	.gouwuche-fixed{ width: 70px; height: 70px;}
}

@media screen and (max-width : 480px) {
	html{ font-size: 7.5px;}
	.pd10 {padding: 0;}
	.pd15 {padding: 5px;}
	.circle3 a{ padding-top: 17px; height: 112px; width: 112px; border-radius: 56px;}
	.guide-btn a{padding: 30px 0;}
	.personal-banner{ height: 262px;}
	.personal-touxiang .user-img{ width: 139px;height: 139px; border: 7px solid #72ced4;}
	.heart-icon{ width: 45px; height: 45px;}
	.user-comments{ min-height: 60px;}
	.gouwuche-fixed{ width: 44px; height: 44px;}
}

@media screen and (max-width : 360px) {
	html{ font-size: 5px;}
	.circle3 a{ padding-top: 16px; height: 84px; width: 84px; border-radius: 42px;}
	.guide-btn a{padding: 21px 0;}
	.personal-banner{ height: 196px;}
	.personal-touxiang .user-img{ width: 104px;height: 104px; border: 5px solid #72ced4;}
	.heart-icon{ width: 33px; height: 33px;}
}


@media screen and (max-width : 320px) {
	.personal-banner{ height: 175px;}
	.personal-touxiang .user-img{ width: 93px;height: 93px; border: 5px solid #72ced4;}
	.heart-icon{ width: 30px; height: 30px;}
}
